:root {
  --color-brand: #A6849D;
  --color-dark: #2F2235;
  --color-mid: #AAAAAA;
  --color-light: #EEEEEE;
  
  --font-base: 'Verdana', sans-serif;
  --font-serifs: 'Palatino', serif;
  }
  
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --color-bg: var(--color-light;
  --color-text: var(--color-mid);
  --color-hdg: var(--color-dark);
  --color-button: var(--color-brand); 
}
